@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-purple {
    background: linear-gradient(135deg, #a855f7, #ec4899);
  }
  .text-gradient {
    background: linear-gradient(to right, #a855f7, #ec4899);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

}
